In [1]:
import pandas as pd
import numpy as np

## Orders Sheet

In [2]:
df_orders = pd.read_excel("../data/global_superstore_2016.xlsx", sheet_name='Orders')
df_orders.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [3]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  datetime64[ns]
 3   Ship Date       51290 non-null  datetime64[ns]
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   Postal Code     9994 non-null   float64
 9   City            51290 non-null  object
 10  State           51290 non-null  object
 11  Country         51290 non-null  object
 12  Region          51290 non-null  object
 13  Market          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  float64
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  float64
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(2), object(15)
memory usage: 9.4+ MB

In [4]:
df_orders['Sub-Category'].unique()

array(['Phones', 'Chairs', 'Copiers', 'Tables', 'Bookcases', 'Art',
       'Appliances', 'Storage', 'Fasteners', 'Machines', 'Accessories',
       'Furnishings', 'Binders', 'Labels', 'Paper', 'Supplies',
       'Envelopes'], dtype=object)

In [5]:
np.sort(df_orders["Region"].unique())

array(['Canada', 'Caribbean', 'Central Africa', 'Central America',
       'Central Asia', 'Central US', 'Eastern Africa', 'Eastern Asia',
       'Eastern Europe', 'Eastern US', 'North Africa', 'Northern Europe',
       'Oceania', 'South America', 'Southeastern Asia', 'Southern Africa',
       'Southern Asia', 'Southern Europe', 'Southern US',
       'Western Africa', 'Western Asia', 'Western Europe', 'Western US'],
      dtype=object)

In [6]:
df_orders["Category"].unique()

array(['Technology', 'Furniture', 'Office Supplies'], dtype=object)

# People Sheet

In [7]:
df_people=pd.read_excel("../data/global_superstore_2016.xlsx", sheet_name="People")
df_people

                  Person             Region
0      MarilÃ¨ne Rousseau          Caribbean
1       AndileÂ Ihejirika     Central Africa
2      Nicodemo Bautista    Central America
3         Cansu Peynirci       Central Asia
4             Lon Bonher         Central US
5           WasswaÂ Ahmed     Eastern Africa
6          Hadia Bousaid       Eastern Asia
7         Lynne Marchand     Eastern Canada
8          Oxana Lagunov     Eastern Europe
9          Dolores Davis         Eastern US
10      LindiweÂ Afolayan       North Africa
11          Miina Nylund    Northern Europe
12           Kauri Anaru            Oceania
13       Vasco MagalhÃ£es      South America
14      Preecha Metharom  Southeastern Asia
15          Nora Cuijper    Southern Africa
16  Chandrakant Chaudhri      Southern Asia
17           Gavino Bove    Southern Europe
18       Flannery Newton        Southern US
19        Katlego Akosua     Western Africa
20             Kaoru Xun       Western Asia
21        Angela Jephson     Western Canada
22         Gilbert Wolff     Western Europe
23       Derrick Snyders         Western US

In [8]:
df_people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Person  24 non-null     object
 1   Region  24 non-null     object
dtypes: object(2)
memory usage: 512.0+ bytes

In [22]:
df_people["Person"].unique()

array(['MarilÃ¨ne Rousseau', 'Andile\xa0Ihejirika', 'Nicodemo Bautista',
       'Cansu Peynirci', 'Lon Bonher', 'Wasswa\xa0Ahmed', 'Hadia Bousaid',
       'Lynne Marchand', 'Oxana Lagunov', 'Dolores Davis',
       'Lindiwe\xa0Afolayan', 'Miina Nylund', 'Kauri Anaru',
       'Vasco MagalhÃ£es', 'Preecha Metharom', 'Nora Cuijper',
       'Chandrakant Chaudhri', 'Gavino Bove', 'Flannery Newton',
       'Katlego Akosua', 'Kaoru Xun', 'Angela Jephson', 'Gilbert Wolff',
       'Derrick Snyders'], dtype=object)

In [9]:
df_people["Region"].replace({"Eastern Canada": "Canada", "Western Canada": "Canada"})

0             Caribbean
1        Central Africa
2       Central America
3          Central Asia
4            Central US
5        Eastern Africa
6          Eastern Asia
7                Canada
8        Eastern Europe
9            Eastern US
10         North Africa
11      Northern Europe
12              Oceania
13        South America
14    Southeastern Asia
15      Southern Africa
16        Southern Asia
17      Southern Europe
18          Southern US
19       Western Africa
20         Western Asia
21               Canada
22       Western Europe
23           Western US
Name: Region, dtype: object

# Returns Sheet

In [10]:
df_returns = pd.read_excel("../data/global_superstore_2016.xlsx", sheet_name="Returns")
df_returns.head()

  Returned                  Order ID        Region
0      Yes  CA-2012-SA20830140-41210    Central US
1      Yes  IN-2012-PB19210127-41259  Eastern Asia
2      Yes  CA-2012-SC20095140-41174    Central US
3      Yes    IN-2015-JH158207-42140       Oceania
4      Yes    IN-2014-LC168857-41747       Oceania

In [11]:
df_returns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1079 entries, 0 to 1078
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Returned  1079 non-null   object
 1   Order ID  1079 non-null   object
 2   Region    1079 non-null   object
dtypes: object(3)
memory usage: 25.4+ KB

In [12]:
np.sort(df_returns["Region"].unique())

array(['Caribbean', 'Central Africa', 'Central America', 'Central Asia',
       'Central US', 'Eastern Africa', 'Eastern Asia', 'Eastern Canada',
       'Eastern Europe', 'Eastern US', 'North Africa', 'Northern Europe',
       'Oceania', 'South America', 'Southeastern Asia', 'Southern Africa',
       'Southern Asia', 'Southern Europe', 'Southern US',
       'Western Africa', 'Western Asia', 'Western Canada',
       'Western Europe', 'Western US'], dtype=object)

In [13]:
df_returns["Returned"].unique()

array(['Yes'], dtype=object)

In [14]:
df_returns['Region'].replace({'Eastern Canada': 'Canada', 'Western Canada': 'Canada'}, inplace=True)

# Merge Dataframes

In [15]:
df_merged = pd.merge(df_orders, df_people, on='Region', how='left')
df_final = pd.merge(df_merged, df_returns, on='Order ID', how='left')

df_final.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Person,Returned,Region_y
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,High,Lon Bonher,NaN,NaN
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical,Kauri Anaru,NaN,NaN
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium,Kauri Anaru,NaN,NaN
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium,Gilbert Wolff,NaN,NaN
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical,Katlego Akosua,NaN,NaN

In [16]:
df_final['Returned'].unique()

array([nan, 'Yes'], dtype=object)

In [17]:
# Remove some columns
columns_to_drop = ['Row ID', 'Customer ID', 'Customer Name', 'Postal Code', 'Region_y', 'Product ID']
df_final.drop(columns=columns_to_drop, inplace=True)

In [18]:
df_final.rename(columns={'Person': 'Salsespeople', 'Region_x': 'Region'}, inplace=True)

In [19]:
# Imputation of NaN in Returned Column
df_final['Returned'] = df_final['Returned'].fillna('No')

In [20]:
df_final.head()

,Order ID,Order Date,Ship Date,Ship Mode,Segment,City,State,Country,Region,Market,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Salsespeople,Returned
0,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,Consumer,Oklahoma City,Oklahoma,United States,Central US,USCA,...,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,High,Lon Bonher,No
1,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,Corporate,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,...,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical,Kauri Anaru,No
2,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,Consumer,Brisbane,Queensland,Australia,Oceania,Asia Pacific,...,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium,Kauri Anaru,No
3,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,Home Office,Berlin,Berlin,Germany,Western Europe,Europe,...,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium,Gilbert Wolff,No
4,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,Consumer,Dakar,Dakar,Senegal,Western Africa,Africa,...,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical,Katlego Akosua,No

# Save Final Dataframe as Excel File

In [21]:
df_final.to_excel('../data/superstore.xlsx', index=False)