In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_excel('../data/superstore.xlsx')
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Segment,City,State,Country,Region,Market,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Salsespeople,Returned
0,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,Consumer,Oklahoma City,Oklahoma,United States,Central US,USCA,...,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,High,Lon Bonher,No
1,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,Corporate,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,...,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical,Kauri Anaru,No
2,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,Consumer,Brisbane,Queensland,Australia,Oceania,Asia Pacific,...,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium,Kauri Anaru,No
3,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,Home Office,Berlin,Berlin,Germany,Western Europe,Europe,...,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium,Gilbert Wolff,No
4,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,Consumer,Dakar,Dakar,Senegal,Western Africa,Africa,...,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical,Katlego Akosua,No

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order ID        51290 non-null  object
 1   Order Date      51290 non-null  datetime64[ns]
 2   Ship Date       51290 non-null  datetime64[ns]
 3   Ship Mode       51290 non-null  object
 4   Segment         51290 non-null  object
 5   City            51290 non-null  object
 6   State           51290 non-null  object
 7   Country         51290 non-null  object
 8   Region          51290 non-null  object
 9   Market          51290 non-null  object
 10  Category        51290 non-null  object
 11  Sub-Category    51290 non-null  object
 12  Product Name    51290 non-null  object
 13  Sales           51290 non-null  float64
 14  Quantity        51290 non-null  int64
 15  Discount        51290 non-null  float64
 16  Profit          51290 non-null  float64
 17  Shipping Cost   51290 non-null  float64
 18  Order Priority  51290 non-null  object
 19  Salsespeople    50906 non-null  object
 20  Returned        51290 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(1), object(14)
memory usage: 8.2+ MB